<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        aperiam expedita a eum labore impedit iusto reprehenderit blanditiis in
        esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quos impedit
        deserunt excepturi. Placeat reprehenderit praesentium in, commodi vero
        unde?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
        asperiores minima id possimus fugit voluptates rem architecto vel
        pariatur temporibus.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
